body
{
    background-color: white;
    margin: 0px;
    padding: 0px;
}
.navbar
{
    background-color: #804000;
    display: flex;
    align-items: center;
    padding: 5px 40px;
    color: white;
}
.book-emoji
{
   font-size: 30px;
}
.menus
{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.menu-item
{
    margin-right: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menu-item:hover
{
    color: #ff751a;
  
}
.menu-icon
{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.page-heading
{
    text-align: center;
    font-size: 60px;
}
.know-more
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #ffc299;
    padding: 10px;
    border: 2px solid #ff751a;
    cursor: pointer;
   

}
.book-img
{
    width: 500px;
}
.header-content
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.content
{
    width: 500px;
    font-size: 25px;
}




/* Mobile Device*/
@media  screen and (max-width: 500px)
 {
    .page-heading
    {
        font-size: 35px;
    }
    .know-more
    {
        height: 40px;
        width: 40px;
    }
    .book-img
    {
       width: 350px;
    }
    .content
    {
      font-size: 20px;
    }
    .secondary-content
    {
        display: none;
    }
    .menu-text
    {
        display: none;
    }
    .book-emoji
    {
        font-size: 18px;
    }
    .menus
    {
        margin-left: 20px;
    }
    .menu-item
    {
        margin-right: 13px;
    }
    .menu-icon
    {
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }

 }




 /* Tablet Device*/
 @media  screen and (min-width: 501px) and (max-width: 768px)
 {
    .page-heading
    {
        font-size: 45px;
    }
    .know-more
    {
        height: 60px;
        width: 60px;
    }
 }





 /* Desktop Device*/
 @media  screen and (min-width: 769px) 
 {
    }





