body
{
    background-color: white;
}

.parent
{
    background-color: #804000;
    padding: 20px;
   
   


}
.child
{
    margin-left: 380px;
    margin-top: 30px;
   
   
}
.why-choose-ahref
{
    padding: 50px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.why-choose-ahref1
{
    padding: 50px;
    cursor: pointer;
    text-decoration: none;
    color: white;
   margin-left: 10px;

  
}
.why-choose-input
{
    border-radius: 5%;
}
.img-size
{
    width: 1520px;
    height: 550px;
    margin-top: 20px;
   
}
.book-store-heading{
   
}
.why-choose-ahref2{
    margin-left: 30px;
    margin-top: 60px;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.container
{
    margin-left: 550px;
    margin-top: 20px;


}
.why-choose-p{
    font-size: 20px;
    color: black;
    margin-top: 10px;
   margin-left: 400px;
}
.container2
{
    margin-left: 550px;
    margin-top: 20px;
    background-color: gray;

}
.why-choose-p2
{
    font-size: 20px;
    color: black;
    margin-top: 10px;
   margin-left: 400px;
}




/* Media Queries for Mobile Device */
@media screen and (max-width: 768px){
    .parent
{
    background-color: #804000;
    padding: 5px;
    margin-left: 5px;
    margin-right: 20px;
   
   


}
.child
{
    margin-left: 30px;
    margin-top: 5px;
   
   
}
.why-choose-ahref
{
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 7px;
    
}
.why-choose-ahref1
{
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
   margin-left: 10px;

  
}
.why-choose-input
{
    border-radius: 5px;
    height: 10px;
    width: 1opx;
    font-size: 10px;
}
.img-size
{
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
   
}
.book-store-heading{
   
}
.why-choose-ahref2{
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 10px;
    color: black;
    text-decoration: none;
}
.container
{
    margin-left: 10px;
    margin-top: 10px;


}
.why-choose-p{
    font-size: 10px;
    color: black;
    margin-top: 10px;
   margin-left: 10px;
}
.container2
{
    margin-left: 5px;
    margin-top: 20px;
    background-color: gray;

}
.why-choose-p2
{
    font-size: 5px;
    color: black;
    margin-top: 10px;
   margin-left: 10px;
}
}

/* Media Queries for Tablet Device */
@media screen and (min-width: 769px) and (max-width: 1050px){
    .parent
{
    background-color: #804000;
    padding: 20px;
   
   


}
.child
{
    margin-left: 150px;
    margin-right: 10px;
    margin-top: 30px;
   
   
}
.why-choose-ahref
{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-left: 25px;
    
}
.why-choose-ahref1
{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
   margin-left: 10px;

  
}
.why-choose-input
{
    border-radius: 5px;
    border-radius: 5px;
    height: 10px;
    width: 1opx;
    font-size: 13px;
}
.img-size
{
    width: 770px;
    height: 500px;
    margin-top: 20px;
    
   
}
.book-store-heading{
   
}
.why-choose-ahref2{
    margin-left: 30px;
    margin-top: 60px;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.container
{
    margin-left: 250px;
    margin-top: 10px;


}
.why-choose-p{
    font-size: 13px;
    color: black;
    margin-top: 10px;
   margin-left: 170px;
}
.container2
{
    margin-left: 550px;
    margin-top: 20px;
    background-color: gray;

}
.why-choose-p2
{
    font-size: 20px;
    color: black;
    margin-top: 10px;
   margin-left: 400px;
}
}
























   